<html>
	<head>
		<title>
			web page
		</title>>
	</head>

	<body>
		<h1>
			heading
		</h1>
		<% if greeting %>
			<p>hello...</p>
			<p> i wanna say <%= greeting %> </p>
		<% end %>
	</body>
</html>
